
# Logs
ecoders-frontend/logs
ecoders-frontend/*.log
ecoders-frontend/npm-debug.log*
ecoders-frontend/yarn-debug.log*
ecoders-frontend/yarn-error.log*
ecoders-frontend/pnpm-debug.log*
ecoders-frontend/lerna-debug.log*

ecoders-frontend/node_modules
ecoders-frontend/dist
ecoders-frontend/dist-ssr
ecoders-frontend/*.local

# Editor directories and files
ecoders-frontend/.vscode/*
!ecoders-frontend/.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

ecoders-backend/HELP.md
ecoders-backend/.gradle
ecoders-backend/build/
!ecoders-backend/gradle/wrapper/gradle-wrapper.jar
!ecoders-backend/**/src/main/**/build/
!ecoders-backend/**/src/test/**/build/
ecoders-backend/Dockerfile

### IntelliJ IDEA ###
ecoders-backend/.idea
ecoders-backend/docker-compose.yml
ecoders-backend/.env
*.iws
*.iml
*.ipr
ecoders-backend/out/
!ecoders-backend/**/src/main/**/out/
!ecoders-backend/**/src/test/**/out/
