<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Email with Link Button</title>
</head>
<body style="font-family: Arial, sans-serif">
<div style="margin: auto">
    <div style="text-align: center">
        <h2>안녕하세요, 폴라레코입니다.</h2>
        <p>비밀번호를 재설정하려면 아래 버튼을 클릭해 재설정 페이지에 접속해 주세요.</p>
    </div>
</div>
<!-- Link Button -->
<table role="presentation" cellspacing="0" cellpadding="0" style="margin: auto">
    <tr>
        <td style="border-radius: 3px; background: #7092bf; text-align: center">
            <a th:href="@{${clientUrl}+'/reset-password'(email=${email},token=${token})}"
               style="background: #7092bf;
                  border: 15px solid #7092bf;
                  padding: 7px 15px;
                  color: #ffffff;
                  text-decoration: none;
                  display: inline-block;
                  border-radius: 3px;
                  font-size: 16px;
                  font-weight: bold;">
                비밀번호 재설정하기
            </a>
        </td>
    </tr>
</table>
<div style="text-align: center">
    <p>비밀번호 재설정 페이지가 만료되었다면 로그인 페이지에서 메일을 재전송해 주세요.</p>
    <a th:href="@{${clientUrl}}">Visit Polareco Website</a>
</div>
</body>
</html>